{% extends "polls/layout.html" %}

{% block body %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
    <div class="list-group">
        {% for choice in question.choice_set.all %}
        <div class="list-group-item form-check">
            <div class="ml-3">
                <input class="form-check-input" type="radio" name="choice"
                id="choice{{ forloop.counter }}" value="{{ choice.id }}" 

                {% if choice.id in request.session.recent_choice_ids %}
                    checked
                {% endif %}>

                <label class="h6 form-check-label" for="choice{{ forloop.counter }}">
                    {{ choice.choice_text }}
                </label>
            </div>
        </div>
        {% endfor %}
    </div>
    </fieldset><br>
    
    <input class="btn btn-success" type="submit" value="Vote">
</form>

<form action="{% url 'polls:results' question.id %}">
    <input class="btn btn-primary" type="submit" value="View Results">
</form>
{% endblock %}