{% extends "polls/layout.html" %}

{% block body %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <ul class="list-group">
        {% for choice in question.choice_set.all %}
        <li class="list-group-item form-check">
            <div class="ml-3">
                <input class="form-check-input me-1" type="radio" name="choice" 
                    id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label class="h6 form-check-label" for="choice{{ forloop.counter }}">
                    {{ choice.choice_text }}
                </label>
            </div>
        </li>
        {% endfor %}
    </ul>
    </fieldset><br>
    
    <input class="btn btn-success" type="submit" value="Vote">
</form>

<form action="{% url 'polls:results' question.id %}">
    <input class="btn btn-primary" type="submit" value="View Results">
</form>
{% endblock %}
