{% extends "polls/layout.html" %}

{% block body %}
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <ul class="list-group">
        Session recent choice: {{ request.session.recent_choice_ids }}<br>
        Session recent question: {{ request.session.recent_question_ids }}<br>
        {% for choice in question.choice_set.all %}
            Q: {{ question.id }}<br>
            C: {{ choice.id }}<br> 


        <li class="list-group-item form-check">
            <div class="ml-3">
                <input class="form-check-input" type="radio" name="choice"
                id="choice{{ forloop.counter }}" value="{{ choice.id }}" 

                {% if choice.id in request.session.recent_choice_ids %}
                    checked
                {% endif %}>

                <label class="h6 form-check-label" for="choice{{ forloop.counter }}">
                    {{ choice.choice_text }}
                </label>
            </div>
        </li>
        {% endfor %}
    </ul>
    </fieldset><br>
    
    <input class="btn btn-success" type="submit" value="Vote">
</form>

<form action="{% url 'polls:results' question.id %}">
    <input class="btn btn-primary" type="submit" value="View Results">
</form>
{% endblock %}
